<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionHeaderText</key>
		<string>文本</string>
		<key>sectionHeaderHeight</key>
		<string>40</string>
		<key>sectionRows</key>
		<array>
			<dict>
				<key>title</key>
				<string>自动换行</string>
				<key>type</key>
				<string>switch</string>
				<key>rowHeight</key>
				<string>44</string>
			</dict>
			<dict>
				<key>title</key>
				<string>行间距</string>
				<key>type</key>
				<string>array</string>
				<key>tagArray</key>
				<array>
					<string>自动</string>
					<string>1.2倍</string>
					<string>1.5倍</string>
					<string>自定义</string>
				</array>
				<key>rowHeight</key>
				<string>44</string>
			</dict>
			<dict>
				<key>title</key>
				<string>字符间距</string>
				<key>type</key>
				<string>normal</string>
				<key>rowHeight</key>
				<string>44</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionHeaderText</key>
		<string>数据内容</string>
		<key>sectionHeaderHeight</key>
		<string>40</string>
		<key>sectionRows</key>
		<array>
			<dict>
				<key>title</key>
				<string>数据类型</string>
				<key>type</key>
				<string>array</string>
				<key>tagArray</key>
				<array>
					<string>手工输入</string>
					<string>递变数据</string>
					<string>Excel数据</string>
				</array>
				<key>rowHeight</key>
				<string>44</string>
			</dict>
			<dict>
				<key>title</key>
				<string>数据列表</string>
				<key>type</key>
				<string>accery</string>
				<key>rowHeight</key>
				<string>44</string>
				<key>rightText</key>
				<string>物料代码</string>
			</dict>
			<dict>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string>normal</string>
				<key>rowHeight</key>
				<string>44</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionHeaderText</key>
		<string>字体</string>
		<key>sectionHeaderHeight</key>
		<string>40</string>
		<key>sectionRows</key>
		<array>
			<dict>
				<key>title</key>
				<string>字体名称</string>
				<key>type</key>
				<string>accery</string>
				<key>rightText</key>
				<string>黑体</string>
				<key>rowHeight</key>
				<string>44</string>
			</dict>
			<dict>
				<key>title</key>
				<string>字体大小</string>
				<key>type</key>
				<string>normal</string>
				<key>rowHeight</key>
				<string>44</string>
			</dict>
			<dict>
				<key>title</key>
				<string>水平对齐</string>
				<key>type</key>
				<string>array</string>
				<key>tagArray</key>
				<array>
					<string>居左</string>
					<string>居中</string>
					<string>居右</string>
					<string>拉伸</string>
				</array>
				<key>rowHeight</key>
				<string>44</string>
			</dict>
			<dict>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string>normal</string>
				<key>rowHeight</key>
				<string>132</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionHeaderText</key>
		<string>位置大小</string>
		<key>sectionHeaderHeight</key>
		<string>40</string>
		<key>sectionRows</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string>normal</string>
				<key>rowHeight</key>
				<string>44</string>
			</dict>
			<dict>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string>normal</string>
				<key>rowHeight</key>
				<string>44</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionHeaderText</key>
		<string>旋转角度</string>
		<key>sectionHeaderHeight</key>
		<string>40</string>
		<key>sectionRows</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string>normal</string>
				<key>rowHeight</key>
				<string>116</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionHeaderText</key>
		<string></string>
		<key>sectionHeaderHeight</key>
		<string>15</string>
		<key>sectionRows</key>
		<array>
			<dict>
				<key>title</key>
				<string>参与打印</string>
				<key>type</key>
				<string>switch</string>
				<key>rowHeight</key>
				<string>44</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
